{% extends 'base.html.twig' %}

{% block title %}Accueil- {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold underline text-center mt-6">Site d'avis entreprises</h1>
{% endblock %}
